svg{
  position:relative;
  text-align:center;
  margin-top:2px;
  margin-left:3px;
/*   transform: scale(0.95);
   */
}

.goOne1{
    cursor: pointer;
  float:right;
  position:relative;
  z-index:2;
  margin-top:30px;
  border-radius:50%;
   height: 25px;
  width: 25px;
  padding:15px;
  background-color:lightgray;
  display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: .3s;
  
}

.goOne1:before{

 opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom:0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #ffc314;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}


.div-block-2:hover  > .goOne1:before {
  
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  
}
/*Start On-load animation*/
[class*="body"]{
	opacity: 0;
	animation: cascade 1s 1;
	animation-timing-function: cubic-bezier(0, 0.59, 0.24, 1.33);
	animation-fill-mode: forwards;
}


@keyframes cascade{
	from {transform: scale(0.95) translateY(80px); opacity:0;}
	to {transform: scale(1) translateY(0px); opacity:1;}
}

/*end On-load animation*/
.html{
  font-size:16pt;
  
}

.body {
    font-family: 'Open Sans', sans-serif;
  margin: 10px 90px 240px;
  background-color: #1a222d;
  background-position: 70% -50%;
   background-repeat: no-repeat;
   background-image: url("blob.svg");
}


.heading {
  margin-bottom:30px;
  color: #ffc314;
  font-size: 9.5rem;
  line-height: 164px;
  font-weight: 400;
}

.text-block {
  margin-bottom: 45px;
  width: 70%;
  color: hsla(0, 0%, 100%, 0.87);
  font-size: 2rem;
  line-height: 37px;
  font-weight: 300;
 
}

 .button.primary {
padding: 12px 30px;
  border-radius: 100px;
  background-color: hsla(0, 0%, 100%, 0.8);
   font-size:1rem;
  color: #1a222d;
  font-weight: 700;
   text-decoration: none;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

 
}

.button.primary:hover {
  box-shadow: 0 12px 12px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition-duration: .3s;
}


.heading-2 {
   font-size:2rem;
  color: #ffc314;
  line-height: 37px;
  font-weight: 400;
}

.text-block-2 {
  width: 70%;
  font-size:1.5rem;
  min-width: 0px;
  color: hsla(0, 0%, 100%, 0.6);
}


.div-block {
  margin-top: 36px;
}

.text-block-3 {
  font-size: 1.0rem;
  color: hsla(0, 0%, 100%, 0.6);
}

.text-block-4 {
  margin-top:12px;
  font-size:1.25rem;
  color: hsla(0, 0%, 100%, 0.4);
  
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-justify-content: normal;
  -ms-flex-pack: distribute;
  justify-content: baseline;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  flex-wrap: wrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block-2 {
  position:relative;
    text-decoration: none;
    display: inheritblock;
  padding:30px;
  margin-left:12px;
  margin-bottom:48px;
    min-height: 200px;
    max-width: 275px;
  
        -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: baseline;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-radius: 20px;
    background-color: #2b394d;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: .3s;

}


.div-block-2:hover {

  box-shadow: 0 12px 12px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.heading-3 {
  font-size:1.5rem;
  color: #fff;
  font-weight: 300;
}

.text-block-5 {
  font-size:1.5rem;
  margin-top: 30px;
  line-height:130%;
  color: hsla(0, 0%, 100%, 0.6);
}



.div-block-3 {
  margin-top: 120px;
}



/* ========= MOBILE STYLES =========== */


@media (max-width: 650px) {
  .body {
    margin: 42px 15px 120px;
    background-color: #1a222d;
    color: #ffc314;
      background-position: 100% 100%;
  }
  .heading {
 font-size: 6.5rem;
  line-height:100%;
/*     font-size: 3.5vw; */
    margin-top: 0px;
    margin-bottom: 36px;
    font-weight: 400;
  }
  .text-block {
    width:100%;
    margin-bottom:60px;
  }
 

 .div-block-2 {
       max-width: 75%;
   
        
  }

/*   .section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    width: auto;
    flex-direction:column;

    padding-top:30px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

   */
}
