

svg path {
  stroke:rgba(255, 255, 255, 0.6);
  fill: none !important;
  display: none;
}

#nav{
z-index:5;
  position:fixed;
  top: 75px;
  color:#E3AB00;
/* background:#E3AB00; */
/* height:60px; */

  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
text-align:center;

}
#nav a{  
   font-size:10pt;
  color:rgba(255, 255, 255, 0.6);
  padding-right:24px;
  
/*   text-decoration: none; */
  text-transform: uppercase;
}

#nav a:hover{
    text-decoration: none;

}
html{
  background: rgb(1,1,1);
background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(19,23,30,1) 0%, rgba(23,27,36,1) 11%, rgba(35,42,56,1) 85%);
}

/*Start On-load animation*/
[class*="container"]{
	opacity: 0;
	animation: cascade 1s 1;
	animation-timing-function: cubic-bezier(0, 0.59, 0.24, 1.33);
	animation-fill-mode: forwards;
}


@keyframes cascade{
	from {transform: scale(0.95) translateY(80px); opacity:0;}
	to {transform: scale(1) translateY(0px); opacity:1;}
}

/*end On-load animation*/

*{
  margin: 0;
  padding: 0;
}

body{
  margin-left: 5%;
  margin-right: 5%;
 /*background-color: #232a38;*/
 padding-bottom: 60px;


}

a,p,h1,h2,h3,h4,ul,li{
  color:#fff;
  font-family: 'Roboto', sans-serif;
}

#brand{
  text-decoration: none;
  text-decoration-color: #FF773C;
  width:auto;
  height:35px;
  position:fixed;
  top:20px;
  text-align:left;
  font-size: 35px;
    transition: 0.3s;
    border-bottom: none;

    }
    #brand a{
      text-decoration:none;
      
    }
     #brand h2{
      color: #FFC314;
    }

.sidenavP{
    margin-top: 210px;
    background-color:none;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    transition: left .5s ease-in-out;
}

/*  container*/
.containerP{
  margin-top: 210px;
  margin-left: 25%;
  margin-bottom: 2%;
  padding: 0% 0% 0% 10%;
  background: none;
 
}
.eyeBrow{
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 45px !important;
  padding-bottom: 9px;
  letter-spacing: 0.23em;
color: rgba(255, 255, 255, 0.6); 
}
.projectName{
  font-size: 40px;
}

.imageD{
  display:block;

}
.imageM{
  display:none;

}

img{
margin: 30px 0 !important;
  border-radius: 12px;
}

@media only screen and (max-width: 640px) {
  svg path {
 display:block;
  stroke:#222D3D;
  fill: none !important;
}
  
  #nav{
z-index:5;
  position:fixed;
    top:92.25%;
    left:0;
background:#E3AB05;
height:72px;
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
text-align:center;
  transition: 0.5s;

}
#nav a{ 
  padding-right:0;
    padding-bottom:12px;

  font-size:10pt;
  color:#222D3D;
  text-decoration: none;
  text-transform: uppercase;
}

  body{
    margin-top:120px
  }
  

  
#brand{
  pointer-events: auto;
  background-color: #232a38;
  width:100%;
  height:45px;
  z-index:2;
  position:fixed;
  top:-5px;
  left:0;
  text-align:left;
  padding: 12px 24px;
  font-size: 21pt;
  border-bottom: 4px solid #FFC314;
 
}
  #brand h2{
        margin-top: 0px;
      }
  #brand a{
      text-decoration:none;

    }


      .sidenavP{
    margin-top: 0px;
    background-color:none;
    height: auto;
    width: 100%;
    position: relative;
    top: 0;
    transition: left .5s ease-in-out;
}

.eyeBrow{
  padding-top: 45px !important;

}

.containerP{
  margin-top: 0%;
  margin-left: 0% !important;
  margin-bottom: 2%;
  padding: 0 0% 0 !important;

  background: none;
 
}

.imageD{
  display: none;

}
.imageM{
  display:block;

}

    }








/* stuffs */

 body{  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
} 
 
footer {
 padding: 10px 0px 10px 0px;

  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
